@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');

:root {
    --color-black: #262A2F;
    --color-orange: #FF5533;
    --color-white: #FFFFFF;
    --color-gray: #868686;
    --bg-color-main: #E5E5E5;
}

* {
    all: unset;
    display: revert;
    list-style: none;
}

body {
    font-family: 'Rubik', serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-black);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    gap: 52px;
    padding: 38px 0 140px 0;
}

.navigation-logo {
    cursor: pointer;
}

.navigation__list {
    display: flex;
    gap: 60px;
}

.navigation__item {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}


.navigation__link--active {
    color: var(--color-orange)
}

.footer__navigation .navigation__link {
    color: var(--bg-color-main)
}


.navigation__link:hover {
    color: var(--color-orange)
}


.main {
    padding-bottom: 145px;
}

.articles {
    display: flex;
    gap: 93px;
}

.main-article {
    display: flex;
    gap: 20px;
}

.articles__big-column {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.articles__small-column {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-article__image-container {
    position: relative;
    min-height: 185px;
    max-height: 344px;
    min-width: 344px;
}

.main-article__image {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.main-article__category {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-orange);
    text-transform: uppercase;
    margin-bottom: 7px;
}

.main-article__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--color-black);
    margin-bottom: 34px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main-article__text {
    font-size: 22px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-source {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-gray);
    text-transform: uppercase;
}

.small-article {
    border-left: 9px solid var(--color-black);
    padding-left: 10px;
}

.small-article__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-date {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-orange)
}

.small-article__date {
    margin-right: 10px;
}

.article-date + .article-source::before {
    content: "·";
    margin-right: 15px;
}

.footer {
    background-color: var(--color-black);
}


.footer__navigation .navigation {
    padding: 22px 0 47px 0;
    align-items: center;
    gap: 78px;
}

.footer__navigation .logo {
    width: 164px;
    height: 34px;
}

.footer__navigation .navigation__link--active {
    color: var(--color-orange);
}

.footer__text {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-white)
}

.footer__link {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-orange);
    text-decoration: underline;
    cursor: pointer;
}

.footer__link:hover {
    opacity: 0.7;
}